.navigation
  - semantic_navigation :main, :html => { :class => 'nav nav-tabs' } do |n|
    -# = n.group 'Media' do
    = n.item 'Users', :link => users_path, :highlight_on => ['/users']
    = n.item "My profile", :link => user_path(current_user) if user_signed_in?
    = n.item 'Log in', :link => new_user_session_path, :highlight_on => ['/sign_in']
    = n.item 'Log out', :link => { :controller => 'devise/sessions', :action => 'destroy' }#, :method => :delete
